@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pattern-ht: 320px;
  }

  @media screen(sm) {
    :root {
      --pattern-ht: 256px;
    }
  }

  .maps-leaf {
    height: calc(100vh - var(--pattern-ht));
  }

  @media (max-height: 750px) and (max-width: 1024px),
    (max-height: 600px) and (min-width: 1024px) {
    .maps-leaf {
      height: 100vh;
    }
  }
}
